<div class="info info_component">
    <div class="info_block">
        <div class="info_img">
            <img src="{{ram_img}}" alt="Error" class="img">
        </div>

        <div class="info_content">
            <div class="info_content_header">
                <span class="title">RAM</span>
            </div>

            <div class="info_content_main">
                <div class="content_block content_main_left">
                    <div class="content content_name">
                        <div class="content_label">Name:&nbsp;&nbsp;</div>
                        <div class="content_data">{{ram_name}}</div>
                    </div>

                    <div class="content content_capacity">
                        <div class="content_label">Capacity:&nbsp;&nbsp;</div>
                        <div class="content_data">{{capacity}}&nbsp;GB</div>
                    </div>
                </div>

                <div class="content_block_line"></div>

                <div class="content_block content_main_right">
                    <div class="content content_speed">
                        <div class="content_label">Speed:&nbsp;&nbsp;</div>
                        <div class="content_data">{{speed}}&nbsp;MHz</div>
                    </div>

                    <div class="content content_type">
                        <div class="content_label">Type:&nbsp;&nbsp;</div>
                        <div class="content_data">{{type}}</div>
                    </div>
                </div>
            </div>

            <div class="info_content_footer">
                <div class="content">
                    <div class="content_label">Manufacturer:&nbsp;&nbsp;</div>
                    <div class="content_data">{{manufacturer}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="update_block">
        {{#if user}}
            {{#if_us user.role 'admin'}}
            <a href="/updateram?ramid={{id}}" class="update_btn">
                <button class="mybtn">Update</button>
            </a>
            {{/if_us}}
        {{/if}}
    </div>

</div>